{% extends "layout.html" %} {% block title %}Filter Options{% endblock %} {% block head %} {{ super() }}


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="static/css/filter_options.css"> {% endblock %} {% block content %}



<body>


    <!-- This div is centered | All the contents of the form are here-->
    <div class="account-body-container">
        <div class="container" id="account-body">
            <h2 class="black-text text-center ricipe-title">Filter</h2>
            <form action="" method="POST">
                <!-- this will be dinamic! >> loopy loop? -->
                <div class="filter_container">
                    <!-- ------------------------------------- -->

                    <!-- --------------------------------------- -->

                    <div class="form-check-first">
                        <H5> By Meat </H5>
                        <!-- <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br> -->

                        <!-- id will be dinamically assigned using variable? -->
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient1)" name="meat" value="Beef" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient1)">Beef</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient2)" name="meat" value="Chicken" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient2)">Chicken</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient3)" name="meat" value="Fish & Seafood" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient3)">Fish & Seafood</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient4)" name="meat" value="Pork" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient4)">Pork</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient5)" name="meat" value="Turkey" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient5)">Turkey</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient6)" name="meat" value="Lamb" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient6)">Lamb</label><br>
                        </br>


                    </div>

                    <div class="form-check">
                        <H5> By Meal </H5>
                        <!-- id will be dinamically assigned using variable? -->
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient7)" name="meat" value="Breakfast" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient7)">Breakfast</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient8)" name="meat" value="Dessert" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient8)">Dessert</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient9)" name="meat" value="Dinner" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient9)">Dinner</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient10)" name="meat" value="Holiday" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient10)">Holiday</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient11)" name="meat" value="Snacks and Appetizers" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient11)">Snacks and Appetizers</label><br>

                        </br>


                    </div>
                    <div class="form-check">
                        <H5> By Diet </H5>
                        <!-- id will be dinamically assigned using variable? -->
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient12)" name="meat" value="Egg Free" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient12)">Egg Free</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient13)" name="meat" value="Gluten Free" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient13)">Gluten Free</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient14)" name="meat" value="Healthy" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient14)">Healthy</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient15)" name="meat" value="Quick and Easy" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient15)">Quick and Easy</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient16)" name="meat" value="Vegeterian" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient16)">Vegeterian</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient17)" name="meat" value="Whole Grain" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient17)">Whole Grain</label><br>
                        </br>


                    </div>
                    <div class="form-check">
                        <H5> By Season </H5>
                        <!-- id will be dinamically assigned using variable? -->
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient18)" name="meat" value="Winter" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient18)">Winter</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient19)" name="meat" value="Spring" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient19)">Spring</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient20)" name="meat" value="Summer" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient20)">Summer</label><br>
                        <input type="checkbox" class="form-check-input btn-check" id="(ingredient21)" name="meat" value="Autumn" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient21)">Autumn</label><br>

                        </br>


                    </div>

                </div>
                <div class="add-button-container">
                    <a href="/filter">
                        <button id="add-button" type="submit" class="btn btn-primary add_recipe_button">Submit</button></a>
                </div>
            </form>

            <!-- example extra content -->
            <!-- end of example -->
        </div>

    </div>





</body>
{% endblock %}