{% extends "layout.html" %} {% block title %}Home Page{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/index.css"> {% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="pricing-header px-4 py-3 pt-md-6 pb-md-4 text-center">
    <h1 class="display-4">Recipe Cards</h1>
    <p id="small-display">{% with messages = get_flashed_messages() %}{% if messages %}{{ messages[0] }}{% endif %} {% endwith %}</p>
    <p id="total-num-recipes"></p>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Random recipe
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Still not sure what to make?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                {% if recommendation %}
                <!-- Random recipe selected -->

                <!-- This is where the random suggestion goes -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <a href="/recipe/view/{{ recommendation['recipeID'] }}">
                        <div class="card mb-4 box-shadow">

                            <div class="card-header">

                                <h4 class="my-0 font-weight-normal">{{ recommendation['title']}}</h4>
                            </div>
                            <div class="card-body">
                                {%if recommendation['img'] == ''%}
                                <img src="{{url_for('static', filename='images/'+ recommendation['image'])}}" alt="image" width="100" class="img-thumbnail"> {%else%}
                                <img src="{{recommendation['img']}}" alt="image" width="100" class="img-thumbnail"> {% endif%}
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li> # of servings {{recommendation['serving']}} </li>


                                </ul>
                                <span id="number-of-ingredients"> </span>
                            </div>

                        </div>
                    </a>
                </div>

                {% else %}
                <!-- Black -->
                <div class="random-suggestion-container">
                    <!-- This is where the random suggestion goes -->
                    <div class="imitation"></div>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/">
                    <button type="button" class="btn btn-primary">Another one!</button></a>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="card-deck text-center">
        {% for content in jsonfile %} {% if search %} {% for x in search %} {% if x == content['recipeID']%}


        <div class="col-sm-6 col-md-3 col-lg-3">
            <a href="/recipe/view/{{content['recipeID']}}">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">

                        <h4 class="my-0 font-weight-normal">{{ content['title'][0:10]}}</h4>
                    </div>
                    <div class="card-body">
                        {%if content['img'] == ''%}
                        <img src="{{url_for('static', filename='images/'+ content['image'])}}" alt="image" width="100" class="img-thumbnail"> {%else%}
                        <img src="{{content['img']}}" alt="image" width="100" class="img-thumbnail"> {% endif%}
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> # of servings {{content['serving']}} </li>


                        </ul>
                        <span id="number-of-ingredients"> </span>
                    </div>

                </div>
            </a>
        </div>

        {% endif %}{% endfor %} {% else %}

        <div class="col-sm-6 col-md-3 col-lg-3">
            <a href="/recipe/view/{{content['recipeID']}}">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">

                        <h4 class="my-0 font-weight-normal">{{ content['title'][0:10]}}</h4>
                    </div>
                    <div class="card-body">
                        {%if content['img'] == ''%}
                        <img src="{{url_for('static', filename='images/'+ content['image'])}}" alt="image" width="100" class="img-thumbnail"> {%else%}
                        <img src="{{content['img']}}" alt="image" width="100" class="img-thumbnail"> {% endif%}
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> # of servings {{content['serving']}} </li>


                        </ul>
                        <span id="number-of-ingredients"> </span>
                    </div>

                </div>
            </a>
        </div>{% endif %}{% endfor %}



    </div>


    <!-- DASHES -->
    <hr>

    <!-- The see more button -->
    <div class="see-more-container">
        <button id="view-more-button" type="button" class="btn btn-primary see_more_button">See More +</button></a>
    </div>

    <!-- Section 2 -->
    <div class="add-recipe-container">
        <div class="center-text">
            <h4>Contribute to Spork with your own creations!</h4>
        </div>

        <!-- button for add -->
        <div class="add-button-container">
            <a href="/recipe/create">
                <button id="add-button" type="button" class="btn btn-primary add_recipe_button">Add New recipe</button></a>
        </div>

    </div>



    <!-- Section 3 -->

    <div class="random-container">
        <div class="center-text">
            <h4>Still not sure what to make?</h4>
        </div>
        <div class="center-random-button">
            <a href="/">
                <button id="random-button" type="submit" class="btn btn-primary random-button">Click me for a random suggestion!</button></a>
        </div>

        {% if recommendation %}
        <!-- Random recipe selected -->
        <div class="random-suggestion-container">
            <!-- This is where the random suggestion goes -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/recipe/view/{{ recommendation['recipeID'] }}">
                    <div class="card mb-4 box-shadow">

                        <div class="card-header">

                            <h4 class="my-0 font-weight-normal">{{ recommendation['title']}}</h4>
                        </div>
                        <div class="card-body">
                            <img src="{{url_for('static', filename='images/'+ recommendation['image'])}}" alt="image" width="100" class="img-thumbnail">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> # of servings {{recommendation['serving']}} </li>


                            </ul>
                            <span id="number-of-ingredients"> </span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        {% else %}
        <!-- Black -->
        <div class="random-suggestion-container">
            <!-- This is where the random suggestion goes -->
            <div class="imitation"></div>
        </div>
        {% endif %}
    </div>

</div>


</div>
<!-- <script>
    //change heading style
    // let author = 'nikki'
    // document.getElementById('small-display').textContent = "Welcome " + {{email}}+ "! Are you looking for a special recipe today?"

    //change font style of heading
    document.getElementsByTagName('h1')[0].style.fontFamily = "Impact,Charcoal,sans-serif"

    //get the number of recipe boxes and replace the p id="total-num-recipes" inner text with this value
    let cardBodyDivs = document.getElementsByClassName('card-body')
    document.getElementById('total-num-recipes').textContent = "You have  " + cardBodyDivs.length + " recipes so far"

    //4 get all li tag and lowercase text inside
    let LITags = document.querySelectorAll('li')
    for (let i = 0; i < LITags.length; i++) {
        LITags[i].textContent = LITags[i].textContent.toLowerCase()
    }
</script> -->
{% endblock %}