/* DARK MODE */

body {
    /* background-color: #2e2d2c; */
    background-color: rgb(33, 33, 33)
}


/* NAVBAR */

.navlogo {
    max-height: 4.5pc;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 1.2pc 0.1pc 1.2pc;
}

.account-icon {
    max-height: 3pc;
    float: left;
}

.nav-button {
    color: rgb(222, 186, 124);
    background-color: Transparent;
    border: none;
    background-repeat: none;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 0pc 0.5pc 1.2pc;
    font-size: 1.8pc;
    float: left;
}

.nav-button:hover {
    color: #F5E8C7;
}


/* TEXT COLOURS */

.a {
    color: rgb(251, 167, 14);
}

.e {
    color: rgb(254, 176, 58);
}

.b {
    color: #F5E8C7;
}

.c {
    color: #DEBA9D;
}

.d {
    color: #b1d8af;
}


/* ----------------- LIGHT MODE ---------- */

:root {
    --body_bg: #F6FFFE;
    --black: #181817;
    --blue: #a8d0ce;
    --darker_blue: #73d5ca;
    --light_pink: #fff6de;
    --dark_pink: #da9fcc;
    --orange: #f7ca7c;
    --hover_yellow: #fff065;
}

body {
    background-color: var(--body_bg);
}


/* ----- NAVBAR ----- */

.navlogo {
    max-height: 4.5pc;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 1.2pc 0.1pc 1.2pc;
}

.navbar-custom {
    background-color: var(--blue);
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.account-icon {
    max-height: 3pc;
    float: left;
}


/* create, filter buttons */

.nav-button {
    color: var(--light_pink);
    color: var(--black);
    background-color: Transparent;
    border: none;
    background-repeat: none;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 0pc 0.5pc 1.2pc;
    font-size: 1.8pc;
    float: left;
}

.nav-button:hover {
    color: var(--hover_yellow);
}


/* Create Text */

.text-center {
    color: var(--black);
}


/* TEXT COLOURS */

.a {
    color: #181817;
    /* var(--black) */
}

.e {
    color: #73d5ca
    /* var(--darker_blue) */
}

.c {
    color: #da9fcc;
    /* var(--dark_pink) */
}

.d {
    color: #f7ca7c;
    /* var(--orange); */
}


/* ---- view register/login body ---- */

.account-body-container {
    margin-top: 8pc;
    margin-bottom: 8pc;
}


/* Email and Password inputs */

.account-input {
    margin-top: 1.5pc;
    width: 50%;
}


/* register login buttons */

.cancle-save-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5pc;
    height: 100%;
    margin-top: 1.5pc;
    margin-left: 25%;
    margin-right: 0.6pc;
}

#cancle-button {
    margin-right: 1.5pc;
}

#save-button {
    width: 20%;
    margin-right: 33%;
}

.container{
    background-color:  #f2f2f2;
    border-radius: 0.5rem;
}

.form__display{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form__display > input {
    height: 30px;
    margin-bottom: 15px;
    background-color: white;
    width: 90%;
}

.form__display > textarea {
    margin-bottom: 15px;
    background-color: white;
    width: 90%;
}

.container > h2{
    padding-top: 10px;
}

.form__display > button{
    margin: 10px;
    width: 100px;
}

.image__upload{
    width: 90%;
}

.delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5pc;
    height: 100%;
    margin-top: 1.5pc;
    margin-left: 25%;
    margin-right: 0.6pc;
}
