/* DARK MODE */

body {
    /* background-color: #2e2d2c; */
    background-color: rgb(33, 33, 33)
}


/* NAVBAR */

.navlogo {
    max-height: 4.5pc;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 1.2pc 0.1pc 1.2pc;
}

.account-icon {
    max-height: 3pc;
    float: left;
}

.nav-button {
    color: rgb(222, 186, 124);
    background-color: Transparent;
    border: none;
    background-repeat: none;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 0pc 0.5pc 1.2pc;
    font-size: 1.8pc;
    float: left;
}

.nav-button:hover {
    color: #F5E8C7;
}


/* TEXT COLOURS */

.a {
    color: rgb(251, 167, 14);
}

.e {
    color: rgb(254, 176, 58);
}

.b {
    color: #F5E8C7;
}

.c {
    color: #DEBA9D;
}

.d {
    color: #b1d8af;
}


/* ----------------- LIGHT MODE ---------- */

:root {
    --body_bg: #F6FFFE;
    --black: #181817;
    --blue: #a8d0ce;
    --darker_blue: #73d5ca;
    --light_pink: #fff6de;
    --dark_pink: #da9fcc;
    --orange: #f7ca7c;
    --hover_yellow: #fff065;
}

body {
    background-color: var(--body_bg);
}


/* ----- NAVBAR ----- */

.navlogo {
    max-height: 4.5pc;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 1.2pc 0.1pc 1.2pc;
}

.navbar-custom {
    background-color: var(--blue);
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
    /* Full width */
}

.account-icon {
    max-height: 3pc;
    float: left;
}


/* create, filter buttons */

.nav-button {
    color: var(--light_pink);
    color: var(--black);
    background-color: Transparent;
    border: none;
    background-repeat: none;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 0pc 0.5pc 1.2pc;
    font-size: 1.8pc;
    float: left;
}

.nav-button:hover {
    color: var(--hover_yellow);
}


/* Create Text */

.text-center {
    color: var(--black);
}


/* TEXT COLOURS */

.a {
    color: #181817;
    /* var(--black) */
}

.e {
    color: #73d5ca
    /* var(--darker_blue) */
}

.c {
    color: #da9fcc;
    /* var(--dark_pink) */
}

.d {
    color: #f7ca7c;
    /* var(--orange); */
}


/* ---- view ingridients body ---- */

.filter-body-container {
    margin-top: 8pc;
    margin-bottom: 8pc;
}

#filter-body {
    background-color: #faf9f9;
    padding-bottom: 2pc;
    padding-top: 2pc;
    display: flex;
    justify-content: center;
}

.single-recipe-body {
    background-color: #e5e9e8;
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
}


/* image */

.image {
    width: 10pc;
    height: 10pc;
    background-color: #a5a5a5;
}

.author-servings {
    display: flex;
    justify-content: flex-start;
}


/* Text of the recipe formats */

.text-body {
    margin: 1pc;
}

#title {
    margin-bottom: 0px;
}

#author {
    margin-right: 0.5pc;
}


/* -------------------- */

#recipebox {
    display: flex;
}

#recipe {
    margin-top: 100px;
    background: orangered;
    justify-content: space-evenly;
}