/* FIXED MADE NEW */


/* ----- NAVBAR ----- */

.navlogo {
    max-height: 4.5pc;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 1.2pc 0.1pc 1.2pc;
}

.navbar-custom {
    background-color: var(--blue);
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}


/* create, filter buttons */

.nav-button {
    color: var(--light_pink);
    color: var(--black);
    background-color: Transparent;
    border: none;
    background-repeat: none;
    /*margin: top | right | bottom | left */
    margin: 0.1pc 0pc 0.5pc 1.2pc;
    font-size: 1.8pc;
    float: left;
}

.nav-button:hover {
    color: var(--hover_yellow);
}


/* search */

.logo-search {
    display: flex;
}

.search-button {
    width: 3.3rem;
    height: 70%;
}

.input-group {
    padding-top: 1.4rem;
    padding-left: 1rem;
}

.account-icon{
    max-height: 40px;
}

.navlogo{
    max-height: 72px;
    max-width: 128px;
}