{% extends "layout.html" %} {% block title %}Register{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/register-login.css"> {% endblock %} {% block content %}

    </div>

    <!-- This div is centered | All the contents of the form are here-->
    <div class="account-body-container">
        <div class="container" id="account-body">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}



            <form action="/register" method="POST">
                <!-- inputs for email and password -->
                <input id="email" class="form-control container account-input" type="text" placeholder="Email" name="email">
                <input id="password" class="form-control container account-input" type="text" placeholder="Password" name="password">

                <!-- cancle and save buttons -->
                <div class="cancle-save-container">
                    <button id="cancle-button" type="submit" class="btn btn-outline-secondary">Register</button>
                    <!-- <button id="save-button" type="submit" class="btn btn-success">Login</button> -->
                </div>
            </form>
        </div>
    </div>
    {% endblock %}