<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/css/register-login.css">
    <title>Filter Options</title>
</head>



<body>
    <div class="nav_custom">
        <nav class="navbar navbar-custom">
            <!-- logo -->
            <span><a href="/"><img class="navlogo" src="static/img/spork yellow.png" ></a></span>
            <div class="button-div">
                <!-- Create button -->
                <button id="create-button" class="nav-button">Create</button>
                <!-- Filter button -->
                <button id="filter-button" class="nav-button">Filter</button>
                <!-- account login -->
                <button id="account-button" class="nav-button"><img class="account-icon" src="static/img/account-icon.png"></button>
                <!-- <img class="account-icon" src="images/account-icon.png"> -->
            </div>
        </nav>

    </div>

    <!-- This div is centered | All the contents of the form are here-->
    <div class="account-body-container">
        <div class="container" id="account-body">
            <h2 class="black-text text-center ricipe-title">Filter</h2>

            <!-- this will be dinamic! >> loopy loop? -->
            <div class="form-check">
                <!-- id will be dinamically assigned using variable? -->
                <input type="checkbox" class="form-check-input" id="(ingredient)">
                <!-- the ingridient will be filled automatically -->
                <label class="form-check-label" for="(ingredient)">(ingridient)</label>
            </div>

            <!-- example extra content -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="(ingredient)">
                <label class="form-check-label" for="(ingredient)">(ingridient2)</label>
            </div>
            <!-- end of example -->
        </div>

    </div>

</body>

</html>