<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/create.css">
    <title>Create Recipe</title>
</head>



<body>
    <div class="nav_custom">
        <nav class="navbar navbar-custom">
            <!-- logo -->
            <span><a href="/"><img class="navlogo" src="../../static/images/spork yellow.png"></a></span>
            <div class="button-div">
                <!-- Create button -->
                <a href="/recipe/create">
                    <button id="create-button" class="nav-button">Create</button></a>
                <!-- Filter button -->
                <button id="filter-button" class="nav-button">Filter</button>
                <!-- account login -->
                <a href="/login">
                    <button id="account-button" class="nav-button"><img class="account-icon"
                            src="../static/images/account-icon.png"></button></a>
                <!-- <img class="account-icon" src="images/account-icon.png"> -->
            </div>
        </nav>

    </div>

    <!-- This div is centered | All the contents of the form are here-->
    <div class="container" id="create_body">

        <h1 class="black-text text-center">Create Recipe</h1>
        <form action="/recipe/create" method="POST">
            <!-- Title, Author, serving, add image -->
            <div class="basic-info-image">
                <div class="basic-info">
                    <input id="title" class="form-control" type="text" placeholder="Title: 'Omlet'" name="title">
                    <input id="author_name" class="form-control" type="text" placeholder="Author: 'Bob'"
                        name="author_name">
                    <input id="serving_amount" class="form-control" type="text" placeholder="Serving: '2'"
                        name="serving_amount">
                </div>

                <!-- add image pane -->
                <!-- <div id="insert-image">
                <input class="form-control form-control-lg" id="formFileLg" type="file" placeholder="Add image" />
            </div> -->
            </div>

            <!-- Ingridients, unit, delete -->
            <!-- NOTE: each button needs a new insert-ingridient div to create a new row on a new line -->

            <div id="insert-ingredient">
                <input id="ingredient" class="form-control" type="text" placeholder="Ingredient: 'Sugar'" name="ingredient1">
                <input id="unit" class="form-control" type="text" placeholder="Unit: '1 tsp'" name="unit1">
            </div>


            <!-- add button -->
            <div class="add-button-container">
                <button id="add-button" type="button" class="btn btn-primary" onclick="addCode()">Add +</button>
            </div>

            <!-- steps -->
            <div class="steps-container">
                <textarea id="steps" class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction"></textarea>
            </div>

            <!-- save,cancle button -->
            <div class="cancle-save-container">
                <button id="cancle-button" type="button" class="btn btn-outline-secondary">Cancle</button>
                <button id="save-button" type="submit" class="btn btn-success">Save</button>
            </div>
        </form>


        <!-- <h1 class="a ">Test Lorem Ipsum</h1>
        <h1 class="e ">Test Lorem Ipsum</h1>

        <h1 class="c ">Test Lorem Ipsum</h1>
        <h1 class="d ">Test Lorem Ipsum</h1> -->

        <!-- <h1 class="b ">Test Lorem Ipsum</h1> -->

        <!-- https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fusers%2Fsimple-user-icon&psig=AOvVaw2JK2IUr8if_R16GQRBkWqr&ust=1651196331872000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIiNiunPtfcCFQAAAAAdAAAAABAD -->
    </div>
    <script>
        var count = 2
        function addCode() {
            var ingredientAddHTML =  ("<div id ='delete"+count+"'>")+ "<input id='ingredient' class='form-control' type='text' placeholder=\"Ingredient: 'Sugar'\""
            ingredientAddHTML += " name=\"ingredient" + count +"\""
            ingredientAddHTML += "><input id='unit' class='form-control' type='text' placeholder=\"Unit: '1 tsp'\""
            ingredientAddHTML += " name=\"unit" + count +"\""
            ingredientAddHTML += "><button type='button' id='delete"+ count +"' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button></div>"
            document.getElementById("insert-ingredient").innerHTML += ingredientAddHTML
            count +=1
        }

        function reply_click(clicked_id)
            {
                const element=document.getElementById(clicked_id);
                element.remove();
            }
    </script> 
</body>

</html>