 {% extends "layout.html" %} {% block title %}Update Recipe{% endblock %} {% block head %} {{ super() }}

<link rel="stylesheet" href="../../../static/css/create.css"> {% endblock %} {% block content %}



</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body">{% for key in z %} {% if id == key['recipeID'] %}

    <h1 class="black-text text-center">Update Recipe</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- Title, Author, serving, add image -->
        <div class="basic-info-image">
            <div class="basic-info">
                <input id="title" class="form-control" type="text" value="{{key['title']}}" name="title">
                <input id="author_name" class="form-control" type="text" value="{{key['author']}}" name="author_name">
                <input id="serving_amount" class="form-control" type="text" value="{{key['serving']}}" name="serving_amount">
            </div>

            <!-- add image pane -->
            <!-- <div id="insert-image">
                <input class="form-control form-control-lg" id="formFileLg" type="file" placeholder="Add image" />
            </div> -->
        </div>

        <!-- Ingridients, unit, delete -->
        <!-- NOTE: each button needs a new insert-ingridient div to create a new row on a new line -->
        {% for ingr in key['ingredients']%}
        <div id="insert-ingredient">
            <input id="ingredient" class="form-control" type="text" value="{{ingr}}" name="ingredient1">
            <input id="unit" class="form-control" type="text" value="{{key['ingredients'][ingr]}}" name="unit1">
        </div>{% endfor %}


        <!-- add button -->
        <div class="add-button-container">
            <button id="add-button" type="button" class="btn btn-primary" onclick="addCode()">Add +</button>
        </div>

        <!-- steps -->
        <div class="steps-container">
            <textarea id="steps" class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction">{{key['instructions']}}</textarea>
        </div>
        <div>

            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off">
                </p>
            </dl>
        </div>
        <!-- save,cancle button -->
        <div class="cancle-save-container">
            <a href="/recipe/view/{{key['recipeID']}}">
                <button id="cancle-button" type="button" class="btn btn-outline-secondary">Cancel</button></a>

            <button id="save-button" type="submit" class="btn btn-success">Save</button>
        </div>
    </form>{% endif %} {% endfor %}


    <!-- <h1 class="a ">Test Lorem Ipsum</h1>
        <h1 class="e ">Test Lorem Ipsum</h1>

        <h1 class="c ">Test Lorem Ipsum</h1>
        <h1 class="d ">Test Lorem Ipsum</h1> -->

    <!-- <h1 class="b ">Test Lorem Ipsum</h1> -->

    <!-- https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fusers%2Fsimple-user-icon&psig=AOvVaw2JK2IUr8if_R16GQRBkWqr&ust=1651196331872000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIiNiunPtfcCFQAAAAAdAAAAABAD -->
</div>
<script>
    var count = 2

    function addCode() {
        var ingredientAddHTML = ("<div id ='delete" + count + "'>") + "<input id='ingredient' class='form-control' type='text' placeholder=\"Ingredient: 'Sugar'\""
        ingredientAddHTML += " name=\"ingredient" + count + "\""
        ingredientAddHTML += "><input id='unit' class='form-control' type='text' placeholder=\"Unit: '1 tsp'\""
        ingredientAddHTML += " name=\"unit" + count + "\""
        ingredientAddHTML += "><button type='button' id='delete" + count + "' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button></div>"
        document.getElementById("insert-ingredient").innerHTML += ingredientAddHTML
        count += 1
    }

    function reply_click(clicked_id) {
        const element = document.getElementById(clicked_id);
        element.remove();
    }
</script>
{% endblock %}