{% extends "layout.html" %} {% block title %}Create Recipe{% endblock %} {% block head %} {{ super() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<link rel="stylesheet" href="../static/css/create.css"> {% endblock %} {% block content %}


</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body">

    <h1 class="black-text text-center">Create Recipe</h1>
    <form action="/recipe/create" enctype="multipart/form-data" method="POST">
        <!-- Title, Author, serving, add image -->
        <div class="basic-info-image">
            <div class="basic-info">
                <input id="title" class="form-control" type="text" placeholder="Title: 'Omlet'" name="title">
                <input id="serving_amount" class="form-control" type="text" placeholder="Description" name="description">
                <input id="author_name" class="form-control" type="text" placeholder="Author: 'Bob'" name="author_name">
                <input id="serving_amount" class="form-control" type="text" placeholder="Serving: '2'" name="serving_amount">

                <br>
            </div>

            <div id="tags">
                <div class="tags-container">
                    <!-- <input type="checkbox" class="form-check-input btn-check" id="(ingredient1)" name="meat" value="Beef" autocomplete="off"><label class="form-check-label btn btn-outline-success" for="(ingredient1)">Beef</label><br> -->

                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient1)" name="meat" autocomplete="off" value="Beef"><label class="form-check-label btn btn-outline-success" for="(ingredient1)">Beef</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient2)" name="meat" autocomplete="off" value="Chiken"><label class="form-check-label btn btn-outline-success" for="(ingredient2)">Chicken</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient3)" name="meat" autocomplete="off" value="Fish"><label class="form-check-label btn btn-outline-success" for="(ingredient3)">Fish & Seafood</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient4)" name="meat" autocomplete="off" value="Pork"><label class="form-check-label btn btn-outline-success" for="(ingredient4)">Pork</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient5)" name="meat" autocomplete="off" value="Turkey"><label class="form-check-label btn btn-outline-success" for="(ingredient5)">Turkey</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient6)" name="meat" autocomplete="off" value="Lamb"><label class="form-check-label btn btn-outline-success" for="(ingredient6)">Lamb</label><br>
                </div>
                <div class="tags-container">
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient7)" name="meat" autocomplete="off" value="Breakfast"><label class="form-check-label btn btn-outline-success" for="(ingredient7)">Breakfast</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient8)" name="meat" autocomplete="off" value="Desert"><label class="form-check-label btn btn-outline-success" for="(ingredient8)">Dessert</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient9)" name="meat" autocomplete="off" value="Dinner"><label class="form-check-label btn btn-outline-success" for="(ingredient9)">Dinner</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient10)" name="meat" autocomplete="off" value="Holiday"><label class="form-check-label btn btn-outline-success" for="(ingredient10)">Holiday</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient11)" name="meat" autocomplete="off" value="Snacks"><label class="form-check-label btn btn-outline-success" for="(ingredient11)">Snacks and Appetizers</label><br>
                </div>
                <div class="tags-container">
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient12)" name="meat" autocomplete="off" value="Egg"><label class="form-check-label btn btn-outline-success" for="(ingredient12)">Egg Free</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient13)" name="meat" autocomplete="off" value="Gluten"><label class="form-check-label btn btn-outline-success" for="(ingredient13)">Gluten Free</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient14)" name="meat" autocomplete="off" value="HEalthy"><label class="form-check-label btn btn-outline-success" for="(ingredient14)">Healthy</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient15)" name="meat" autocomplete="off" value="Quick"><label class="form-check-label btn btn-outline-success" for="(ingredient15)">Quick and Easy</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient16)" name="meat" autocomplete="off" value="Vegeterian"><label class="form-check-label btn btn-outline-success" for="(ingredient16)">Vegeterian</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient17)" name="meat" autocomplete="off" value="Grain"><label class="form-check-label btn btn-outline-success" for="(ingredient17)">Whole Grain</label><br>
                </div>
                <div class="tags-container">
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient18)" name="meat" autocomplete="off" value="Winter"><label class="form-check-label btn btn-outline-success" for="(ingredient18)">Winter</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient19)" name="meat" autocomplete="off" value="Spring"><label class="form-check-label btn btn-outline-success" for="(ingredient19)">Spring</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient20)" name="meat" autocomplete="off" value="Summer"><label class="form-check-label btn btn-outline-success" for="(ingredient20)">Summer</label><br>
                    <input type="checkbox" class="form-check-input btn-check" id="(ingredient21)" name="meat" autocomplete="off" value="Autumn"><label class="form-check-label btn btn-outline-success" for="(ingredient21)">Autumn</label><br>
                </div>
            </div>

        </div>


        <!-- Ingridients, unit, delete -->
        <!-- NOTE: each button needs a new insert-ingridient div to create a new row on a new line -->

        <div id="insert-ingredient">
            <div><input id="ingredient" class="form-control" type="text" placeholder="Ingredient: 'Sugar'" name="ingredient1"></div>
            <div><input id="unit" class="form-control" type="text" placeholder="Unit: '1 tsp'" name="unit1"></div>
        </div>


        <!-- add button -->
        <div id="add-button-container">
            <button id="add-button" type="button" class="btn btn-primary" onclick="addCode()">Add +</button>
        </div>

        <!-- steps -->
        <p>Steps</p>
        <div class="steps-container">
            <textarea id="steps" class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction"></textarea>
        </div>

        <div id="picture-file">

            <dl>
                <p>
                    <p class="insert-image">Insert Image</p>
                    <input id="image_field" type="file" name="file" class="form-control" autocomplete="off" accept="image/*">
                    <br>
                    <p>Or</p>
                    <input id="serving_amount" class="form-control" type="text" placeholder="Enter image url" name="img">
                </p>
            </dl>
        </div>

        <!-- save,cancle button -->
        <div class="cancle-save-container">
            <button id="cancle-button" type="button" class="btn btn-outline-secondary">Cancel</button>
            <button id="save-button" type="submit" class="btn btn-success">Save</button>
        </div>
    </form>



    <!-- <h1 class="a ">Test Lorem Ipsum</h1>
        <h1 class="e ">Test Lorem Ipsum</h1>

        <h1 class="c ">Test Lorem Ipsum</h1>
        <h1 class="d ">Test Lorem Ipsum</h1> -->

    <!-- <h1 class="b ">Test Lorem Ipsum</h1> -->

    <!-- https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fusers%2Fsimple-user-icon&psig=AOvVaw2JK2IUr8if_R16GQRBkWqr&ust=1651196331872000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIiNiunPtfcCFQAAAAAdAAAAABAD -->
</div>
<script>
    var count = 2

    function addCode() {
        var ingredientAddHTML = ("<div id ='delete" + count + "' class='dynamic_div'>") + "<input id='ingredient' class='form-control' type='text' placeholder=\"Ingredient: 'Sugar'\""
        ingredientAddHTML += " name=\"ingredient" + count + "\""
        ingredientAddHTML += "><input id='unit' class='form-control' type='text' placeholder=\"Unit: '1 tsp'\""
        ingredientAddHTML += " name=\"unit" + count + "\""

        ingredientAddHTML += "><button type='button' id='delete" + count + "' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button></div>"
        document.getElementById("add-button-container").insertAdjacentHTML("beforebegin", ingredientAddHTML)

        count += 1
    }

    function reply_click(clicked_id) {
        const element = document.getElementById(clicked_id);
        element.remove();
    }
</script>
{% endblock %}