 {% extends "layout.html" %} {% block title %}Update Recipe{% endblock %} {% block head %} {{ super() }}

<link rel="stylesheet" href="../../../static/css/update_recipe.css"> {% endblock %} {% block content %}



</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body">{% for key in z %} {% if id == key['recipeID'] %}

    <h1 class="black-text text-center">Update Recipe</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- Title, Author, serving, add image -->
        <div class="basic-info-image">
            <div class="basic-info">
                <input id="title" class="form-control" type="text" value="{{key['title']}}" name="title">
                <input id="serving_amount" class="form-control" type="text" value="{{key['description']}}" name="description">
                <input id="author_name" class="form-control" type="text" value="{{key['author']}}" name="author_name">
                <input id="serving_amount" class="form-control" type="text" value="{{key['serving']}}" name="serving_amount">
            </div>

            <!-- image -->
            <div id="image">
                <img src="{{url_for('static', filename='images/'+ key['image'])}}" alt="recipe image">
            </div>
        </div>
        <div id="tags">
            <div class="tags-container">
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Beef"><label class="form-check-label" for="(ingredient)">Beef</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Chiken"><label class="form-check-label" for="(ingredient)">Chicken</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Fish"><label class="form-check-label" for="(ingredient)">Fish & Seafood</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Pork"><label class="form-check-label" for="(ingredient)">Pork</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Turkey"><label class="form-check-label" for="(ingredient)">Turkey</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Lamb"><label class="form-check-label" for="(ingredient)">Lamb</label><br>
            </div>
            <div class="tags-container">
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Breakfast"><label class="form-check-label" for="(ingredient)">Breakfast</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Desert"><label class="form-check-label" for="(ingredient)">Desert</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Dinner"><label class="form-check-label" for="(ingredient)">Dinner</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Holiday"><label class="form-check-label" for="(ingredient)">Holiday</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Snacks"><label class="form-check-label" for="(ingredient)">Snacks and Appetizers</label><br>
            </div>
            <div class="tags-container">
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Egg"><label class="form-check-label" for="(ingredient)">Egg Free</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Gluten"><label class="form-check-label" for="(ingredient)">Gluten Free</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="HEalthy"><label class="form-check-label" for="(ingredient)">Healthy</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Quick"><label class="form-check-label" for="(ingredient)">Quick and Easy</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Vegeterian"><label class="form-check-label" for="(ingredient)">Vegeterian</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Grain"><label class="form-check-label" for="(ingredient)">Whole Grain</label><br>
            </div>
            <div class="tags-container">
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Winter"><label class="form-check-label" for="(ingredient)">Winter</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Spring"><label class="form-check-label" for="(ingredient)">Spring</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Summer"><label class="form-check-label" for="(ingredient)">Summer</label><br>
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Autumn"><label class="form-check-label" for="(ingredient)">Autumn</label><br>
            </div>
        </div>
        <!-- Ingridients, unit, delete -->
        <!-- NOTE: each button needs a new insert-ingridient div to create a new row on a new line -->
        {% for ingr in key['ingredients']%}
        <div id="insert-ingredient">
            <div>

                <input id="ingredient" class="form-control" type="text" value="{{ingr}}" name="ingredient1">
                <input id="unit" class="form-control" type="text" value="{{key['ingredients'][ingr]}}" name="unit1">
            </div>
        </div>{% endfor %}


        <!-- add button -->
        <div class="add-button-container">
            <button id="add-button" type="button" class="btn btn-primary" onclick="addCode()">Add +</button>
        </div>

        <!-- steps -->
        <div class="steps-container">
            <textarea id="steps" class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction">{{key['instructions']}}</textarea>
        </div>
        <div id="picture-file">

            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off">
                    <input id="serving_amount" class="form-control" type="text" value="{{key['img']}}" name="img">
                </p>
            </dl>
        </div>
        <!-- save,cancle button -->
        <div class="cancle-save-container">
            <a href="/recipe/view/{{key['recipeID']}}">
                <button id="cancle-button" type="button" class="btn btn-outline-secondary">Cancel</button></a>

            <button id="save-button" type="submit" class="btn btn-success">Save</button>
        </div>
    </form>{% endif %} {% endfor %}


    <!-- <h1 class="a ">Test Lorem Ipsum</h1>
        <h1 class="e ">Test Lorem Ipsum</h1>

        <h1 class="c ">Test Lorem Ipsum</h1>
        <h1 class="d ">Test Lorem Ipsum</h1> -->

    <!-- <h1 class="b ">Test Lorem Ipsum</h1> -->

    <!-- https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fusers%2Fsimple-user-icon&psig=AOvVaw2JK2IUr8if_R16GQRBkWqr&ust=1651196331872000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIiNiunPtfcCFQAAAAAdAAAAABAD -->
</div>
<script>
    var count = 2

    function addCode() {
        var ingredientAddHTML = ("<div id ='delete" + count + "'>") + "<input id='ingredient' class='form-control' type='text' placeholder=\"Ingredient: 'Sugar'\""
        ingredientAddHTML += " name=\"ingredient" + count + "\""
        ingredientAddHTML += "><input id='unit' class='form-control' type='text' placeholder=\"Unit: '1 tsp'\""
        ingredientAddHTML += " name=\"unit" + count + "\""
        ingredientAddHTML += "><button type='button' id='delete" + count + "' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button></div>"
        document.getElementById("insert-ingredient").innerHTML += ingredientAddHTML
        count += 1
    }

    function reply_click(clicked_id) {
        const element = document.getElementById(clicked_id);
        element.remove();
    }
</script>
{% endblock %}