 {% extends "layout.html" %} {% block title %}Update Recipe{% endblock %} {% block head %} {{ super() }}

<link rel="stylesheet" href="../../../static/css/update_recipe.css"> {% endblock %} {% block content %}



</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body">

    <h1 class="black-text text-center">Update Recipe</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- Title, Author, serving, add image -->
        <div class="basic-info-image">
            <div class="basic-info">
                <input id="title" class="form-control" type="text" value="{{single_recipe['title']}}" name="title">
                <input id="serving_amount" class="form-control" type="text" value="{{single_recipe['description']}}" name="description">
                <input id="author_name" class="form-control" type="text" value="{{single_recipe['author']}}" name="author_name">
                <input id="serving_amount" class="form-control" type="text" value="{{single_recipe['serving']}}" name="serving_amount">
            </div>

            <!-- image -->
            <div id="image">
                {%if single_recipe['img'] == ''%}
                <img src="{{url_for('static', filename='images/'+ single_recipe['image'])}}" alt="recipe image">{%else%}
                <img src="{{single_recipe['img']}}"> {% endif%}
            </div>
        </div>
        <div id="tags">
            <div class="tags-container">
                {% if "Beef" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Beef"checked><label class="form-check-label" for="(ingredient)" >Beef</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Beef"><label class="form-check-label" for="(ingredient)">Beef</label><br>
                {% endif %}
                {% if "Chicken" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Chiken"checked><label class="form-check-label" for="(ingredient)" >Chicken</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Chiken"><label class="form-check-label" for="(ingredient)">Chicken</label><br>
                {% endif %}
                {% if "Fish & Seafood" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Fish"checked><label class="form-check-label" for="(ingredient)" >Fish & Seafood</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Fish"><label class="form-check-label" for="(ingredient)">Fish & Seafood</label><br>
                {% endif %}
                {% if "Pork" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Pork"checked><label class="form-check-label" for="(ingredient)" >Pork</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Pork"><label class="form-check-label" for="(ingredient)">Pork</label><br>
                {% endif %}
                {% if "Turkey" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Turkey"checked><label class="form-check-label" for="(ingredient)" >Turkey</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Turkey"><label class="form-check-label" for="(ingredient)">Turkey</label><br>
                {% endif %}
                {% if "Lamb" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Lamb"checked><label class="form-check-label" for="(ingredient)" >Lamb</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Lamb"><label class="form-check-label" for="(ingredient)">Lamb</label><br>
                {% endif %}
            </div>
            <div class="tags-container">
                
                {% if "Breakfast" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Breakfast"checked><label class="form-check-label" for="(ingredient)" >Breakfast</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Breakfast"><label class="form-check-label" for="(ingredient)">Breakfast</label><br>
                {% endif %}
                {% if "Desert" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Desert"checked><label class="form-check-label" for="(ingredient)" >Desert</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Desert"><label class="form-check-label" for="(ingredient)">Desert</label><br>
                {% endif %}
                {% if "Dinner" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Dinner"checked><label class="form-check-label" for="(ingredient)" >Dinner</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Dinner"><label class="form-check-label" for="(ingredient)">Dinner</label><br>
                {% endif %}
                {% if "Holiday" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Holiday"checked><label class="form-check-label" for="(ingredient)" >Holiday</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Holiday"><label class="form-check-label" for="(ingredient)">Holiday</label><br>
                {% endif %}
                {% if "Snacks and Appetizers" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Snacks"checked><label class="form-check-label" for="(ingredient)" >Snacks and Appetizers</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Snacks"><label class="form-check-label" for="(ingredient)">Snacks and Appetizers</label><br>
                {% endif %}
            </div>
            <div class="tags-container">
                
                {% if "Egg Free" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Egg"checked><label class="form-check-label" for="(ingredient)" >Egg Free</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Egg"><label class="form-check-label" for="(ingredient)">Egg Free</label><br>
                {% endif %}
                {% if "Gluten Free" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Gluten"checked><label class="form-check-label" for="(ingredient)" >Gluten Free</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Gluten"><label class="form-check-label" for="(ingredient)">Gluten Free</label><br>
                {% endif %}
                {% if "Healthy" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="HEalthy"checked><label class="form-check-label" for="(ingredient)" >Healthy</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="HEalthy"><label class="form-check-label" for="(ingredient)">Healthy</label><br>
                {% endif %}
                {% if "Quick and Easy" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Quick"checked><label class="form-check-label" for="(ingredient)" >Quick and Easy</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Quick"><label class="form-check-label" for="(ingredient)">Quick and Easy</label><br>
                {% endif %}
                {% if "Vegeterian" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Vegeterian"checked><label class="form-check-label" for="(ingredient)" >Vegeterian</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Vegeterian"><label class="form-check-label" for="(ingredient)">Vegeterian</label><br>
                {% endif %}
                {% if "Whole Grain" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Grain"checked><label class="form-check-label" for="(ingredient)" >Whole Grain</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Grain"><label class="form-check-label" for="(ingredient)">Whole Grain</label><br>
                {% endif %}
            </div>
            <div class="tags-container">
                
                {% if "Winter" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Winter"checked><label class="form-check-label" for="(ingredient)" >Winter</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Winter"><label class="form-check-label" for="(ingredient)">Winter</label><br>
                {% endif %}
                {% if "Spring" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Spring"checked><label class="form-check-label" for="(ingredient)" >Spring</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Spring"><label class="form-check-label" for="(ingredient)">Spring</label><br>
                {% endif %}
                {% if "Summer" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Summer"checked><label class="form-check-label" for="(ingredient)" >Summer</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Summer"><label class="form-check-label" for="(ingredient)">Summer</label><br>
                {% endif %}
                {% if "Autumn" in single_recipe["tags"]%}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Autumn"checked><label class="form-check-label" for="(ingredient)" >Autumn</label><br>
                {% else %}
                <input type="checkbox" class="form-check-input" id="(ingredient)" name="meat" value="Autumn"><label class="form-check-label" for="(ingredient)">Autumn</label><br>
                {% endif %}
            </div>
        </div>
        <!-- Ingridients, unit, delete -->
        <!-- NOTE: each button needs a new insert-ingridient div to create a new row on a new line -->
        {% for ingr in single_recipe['ingredients']%}
            {% if loop.index == 1 %}
            <div class="insert-ingredient">
                <div><input id="ingredient{{loop.index}}" class="form-control count-js" type="text" value="{{ingr}}" name="ingredient{{loop.index}}"></div>
                <div><input id="unit{{loop.index}}" class="form-control count-js" type="text" value="{{single_recipe['ingredients'][ingr]}}" name="unit{{loop.index}}"></div>
            </div>
            {% else %}
            <div id='delete{{loop.index}}'  class="insert-ingredient">
                <div><input id="ingredient{{loop.index}}" class="form-control count-js" type="text" value="{{ingr}}" name="ingredient{{loop.index}}"></div>
                <div><input id="unit{{loop.index}}" class="form-control count-js" type="text" value="{{single_recipe['ingredients'][ingr]}}" name="unit{{loop.index}}"></div>
                <button type='button' id='delete{{loop.index}}' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button>
            </div>
            {% endif %}
        {% endfor %}


        <!-- add button -->
        <div id="add-button-container">
            <button id="add-button" type="button" class="btn btn-primary" onclick="addCode()">Add +</button>
        </div>

        <!-- steps -->
        <div class="steps-container">
            <textarea id="steps" class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction">{{single_recipe['instructions']}}</textarea>
        </div>
        <div id="picture-file">

            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off">
                    <input id="serving_amount" class="form-control" type="text" value="{{single_recipe['img']}}" name="img">
                </p>
            </dl>
        </div>
        <!-- save,cancle button -->
        <div class="cancle-save-container">
            <a href="/recipe/view/{{single_recipe['recipeID']}}">
                <button id="cancle-button" type="button" class="btn btn-outline-secondary">Cancel</button></a>

            <button id="save-button" type="submit" class="btn btn-success">Save</button>
        </div>
    </form>


    <!-- <h1 class="a ">Test Lorem Ipsum</h1>
        <h1 class="e ">Test Lorem Ipsum</h1>

        <h1 class="c ">Test Lorem Ipsum</h1>
        <h1 class="d ">Test Lorem Ipsum</h1> -->

    <!-- <h1 class="b ">Test Lorem Ipsum</h1> -->

    <!-- https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fusers%2Fsimple-user-icon&psig=AOvVaw2JK2IUr8if_R16GQRBkWqr&ust=1651196331872000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCIiNiunPtfcCFQAAAAAdAAAAABAD -->
</div>
<script>
        var x = $(".count-js").last().attr("id").slice(-1)
        console.log(x)
        var count = parseInt(x) +1

        function addCode() {
            var ingredientAddHTML = ("<div id ='delete" + count + "' class='dynamic_div'>") + "<input id='ingredient' class='form-control' type='text' placeholder=\"Ingredient: 'Sugar'\""
            ingredientAddHTML += " name=\"ingredient" + count + "\""
            ingredientAddHTML += "><input id='unit' class='form-control' type='text' placeholder=\"Unit: '1 tsp'\""
            ingredientAddHTML += " name=\"unit" + count + "\""

            ingredientAddHTML += "><button type='button' id='delete" + count + "' onClick='reply_click(this.id)' class='btn btn-outline-danger delete'>Delete</button></div>"
            document.getElementById("add-button-container").insertAdjacentHTML("beforebegin", ingredientAddHTML)

            count += 1
        }

        function reply_click(clicked_id) {
            const element = document.getElementById(clicked_id);
            element.remove();
        }
</script>
{% endblock %}

