{% extends "layout.html" %} {% block title %}View Recipe{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="../../static/css/recipe_view.css"> {% endblock %} {% block content %}


</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body"> 
    <!-- Title, Author, serving, add image -->
    <div class="basic-info-image">
        <div>
            <h1 class="black-text text-left ricipe-title">{{data['title']}}</h1>

            <div class="basic-info">
                <h5 class="black-text text-left">Author: {{data['author']}} &nbsp; &nbsp; &nbsp;</h5>
                <h5 class="black-text text-left">Servings: {{data['serving']}}</h5>
            </div>
        </div>

        <!-- image -->
        <div id="image">
            <img src="" alt="recipe image">
        </div>
    </div>

    <!-- Ingridients list -->

    <div id="ingredients-list">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Ingridient</th>
                    <th scope="col">Unit</th>
                </tr>
            </thead>
            <tbody>
                <!-- each new ingridient will be a new row with two table datas >> for loop -->
                {% for ingr in data['ingredients']%}
                <tr>
                    <td>{{ingr}}</td>
                    <td>{{data['ingredients'][ingr]}}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>


    <!-- steps -->
    <h4 class="steps-title" class="black-text text-left">Steps</h4>


    <div class="steps-container">
        <p id="steps-text" class="text-justify">{{data['instructions']}}</p>
    </div>

    
        <!-- Delete button-->

        <div class="cancle-save-container">
            <a href="/recipe/view/{{data['recipeID']}}/delete">
                <button id="cancle-button" type="submit" value="Delete" class="btn btn-outline-danger">Delete</button></a>
        </div>
        </form>

        <!-- edit button -->
        <div class="cancle-save-container">
            <a href="/recipe/view/{{data['recipeID']}}/update">
                <button id="cancle-button" type="button" class="btn btn-outline-secondary">Edit</button></a>
        </div>

</div>
{% endblock %}