{% extends "layout.html" %} {% block title %}View Recipe{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/recipe_view.css')}}"> 
{% endblock %} {% block content %}


</div>

<!-- This div is centered | All the contents of the form are here-->
<div class="container" id="create_body">
    {% if data['recipeID'] not in saved_recipes %}
    <div id="save-recipe">
        <a href="/save/{{data['recipeID']}} ">

            <button id="save-recipe-btn"type="button" class="btn btn-primary">Save This Recipe</button>
        </a>
    </div>
    {% else %}
    <div id="saved-recipe">
        <a href="/unsave/{{data['recipeID']}} ">

            <button id="saved-recipe-btn"type="button" class="btn btn-secondary">Saved</button>
        </a>
    </div>
    {% endif %}
    <!-- Title, Author, serving, add image -->
    <div class="basic-info-image">
        <div>
            <h1 class="black-text text-left ricipe-title">{{data['title']}}</h1>
            <h8 class="black-text text-left">Description: {{data['description']}}</h8>
            <br/>
            <div class="basic-info">
                <h5 class="black-text text-left"><br/>Author: {{data['author']}} &nbsp; &nbsp; &nbsp;</h5>
                <h5 class="black-text text-left"><br/>Servings: {{data['serving']}}</h5>
            </div>
            <h5 class="black-text text-left"><br/>Tags:</h5>
            {% for x in data['tags']%}
            <h8 class="black-text text-left">{{x}}</h8>
            {%endfor%}
        </div>








        <!-- image -->
        {%if data['img'] == ''%}
        <div id="image">
            <img src="{{url_for('static', filename='images/'+ data['image'])}}" alt="recipe image">
        </div>
        {%else%}
        <div id="image">
            <img src="{{data['img']}}" alt="recipe image">
        </div>
        {% endif%}

    </div>

    <!-- Ingridients list -->

    <div id="ingredients-list">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Ingridient</th>
                    <th scope="col">Unit</th>
                </tr>
            </thead>
            <tbody>
                <!-- each new ingridient will be a new row with two table datas >> for loop -->
                {% for ingr in data['ingredients']%}
                <tr>
                    <td>{{ingr}}</td>
                    <td>{{data['ingredients'][ingr]}}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>


    <!-- steps -->
    <h4 class="steps-title" class="black-text text-left">Steps</h4>


    <div class="steps-container">
        <p id="steps-text" class="text-justify">{{data['instructions']}}</p>
    </div>



    <!-- Delete button-->
    {% if data['recipeID'] in current_user.recipes %}
    <div class="delete-container">
        <!-- Edit button-->
        <a href="/recipe/view/{{data['recipeID']}}/update">
            <button id="edit-button" type="button" class="btn btn-primary buttons">Edit</button></a>

        <!-- Delete button -->
        <a href="/recipe/view/{{data['recipeID']}}/delete" onclick="return confirm('Are you sure?')">
            <button id="delete-button" type="submit" value="Delete" class="btn btn-outline-danger buttons">Delete</button></a>
    </div>


    {% endif %}
</div>
{% endblock %}